<div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
  <div class="uk-container-xsmall uk-align-center">
    <h3 class="xlfont uk-text-center">404</h3>
    <p class="uk-text-center uk-text-large">Oops! This page doesn't exist.</p>
  </div>
</div>