<div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
  <div class="uk-container-xsmall uk-align-center">
    <h2>Add a Book for Trade</h2>

    <form class="add-book-form">
      <div class="uk-margin">
        <label for="title_input">Title</label>
        <input
          class="uk-input"
          type="text"
          id="title_input"
          maxlength="255"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="author_first_name_input">Author's First Name</label>
        <input
          class="uk-input"
          type="text"
          id="author_first_name_input"
          maxlength="255"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="author_last_name_input">Author's Last Name</label>
        <input
          class="uk-input"
          type="text"
          id="author_last_name_input"
          maxlength="255"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="genre_selection">Genre</label>
        <select class="uk-select" id="genre_selection" required>
          <option value="" disabled selected>Choose a genre</option>
          {{#each genres as |genre|}}
            <option value="{{genre.id}}">{{genre.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="uk-margin">
        <label for="format_selection">Format</label>
        <select class="uk-select" id="format_selection" required>
          <option value="" disabled selected>Choose one</option>
          <option value="1">Paperback</option>
          <option value="0">Hardcover</option>
        </select>
      </div>
      <div class="uk-margin">
        <label for="condition_selection">Condition</label>
        <select class="uk-select" id="condition_selection" required>
          <option value="" disabled selected>Choose one</option>
          <option value="Like New">Like New</option>
          <option value="Good">Good</option>
          <option value="Well-loved">Well-loved</option>
        </select>
      </div>
      <div class="uk-margin">
        <label for="description_input">Description</label>
        <textarea
          class="uk-textarea"
          id="description_input"
          placeholder="Tell us a little bit about the book."
          maxlength="1200"
        ></textarea>
      </div>
      <div class="uk-margin">
        <button class="btn" type="submit">Offer Book for Trade</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/add-book.js"></script>