<div class="uk-container uk-margin-medium-top uk-margin-large-bottom">

  <h2>Hello, {{user.first_name}}!</h2>

  <div>
    <h2>My Offers</h2>
  </div>

  <div>
    <h2>My Available Books</h2>
      {{#if user.books.length}}
        {{> book-list user.books}}
      {{else}}
        <p>You don't have any books available to trade.</p>
      {{/if}}
  </div>


</div>