<div
  class="uk-height-large uk-background-cover uk-light uk-flex"
  uk-parallax="bgy: -200"
  style="background-image: url('images/books_background.jpg');"
>
  <div class="uk-flex uk-flex-middle uk-text-center" id="welcomeBox">
    <div class="" id="getStarted">
      <p>Welcome to</p>
      <h1>The Book Exchange!</h1>
      <h3>The place to trade books and discover new reads</h3>
      <a href="./signup">Get Started</a>
      <a href="./login">Login</a>
    </div>

  </div>
</div>