<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./css/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>
    <title>The Book Exchange</title>
</head>
<body>
    <header>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="nav-overlay uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="#">The Book Exchange</a>
            </div>
            <div class="nav-overlay uk-navbar-right">
                <a class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active uk-flex-inline"><a href="#">Sign Up</a></li>
                    <li><a href="#">Log in</a></li>
                </ul>
            </div>
            <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
                <div class="uk-navbar-item uk-width-expand">
                    <form class="uk-search uk-search-navbar uk-width-1-1">
                        <input class="uk-search-input" type="search" placeholder="Search for a book" autofocus>
                    </form>
                    
                </div>
                <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('images/books_background.jpg');">
            <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut dolorem maxime cupiditate error illum itaque eos ad praesentium explicabo numquam, quia a eligendi, ipsa perspiciatis quasi saepe omnis ipsam temporibus!</h1>
        </div>
    </main>
</body>
</html>