<div id="signupcard" class="uk-flex uk-flex-center uk-width-auto">
    <div class="uk-card uk-card-body uk-card-default">
    <h3 class="uk-card-title">Login</h3>
    <form class="signup-form uk-width-xlarge">
        <div id="login" class="uk-flex uk-flex-between">
        <div id="username" class="uk-width-1-2">
            <label for="username">UserName</label><br>
            <input type="text" id="first_name_input" maxlength="30" required />
        </div>
        <div id="password" class="uk-width-1-2">
            <label for="password">Password</label><br>
            <input type="text" id="last_name_input" maxlength="30" required />
        </div>
        </div>
    </form>
    <div>
        <p>Don't have an account?</p>
        <p><a href="/signup">Create an account!</a></p>
    </div>
    </div>
</div>