<div class="uk-container uk-margin-medium-top">
  <h2>Showing books related to "{{query}}"</h2>

  {{#if books.length}}
    {{> book-list books}}
  {{else}}
    <h3>Nothing found.</h3>
  {{/if}}
</div>