<div class="uk-container uk-margin-medium-top uk-margin-large-bottom">
  <div class="uk-container-xsmall uk-align-center">
    <h2>Sign Up</h2>

    <form class="signup-form">
      <div class="uk-margin">
        <label for="first_name_input">First Name</label>
        <input
          class="uk-input"
          type="text"
          id="first_name_input"
          maxlength="30"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="last_name_input">Last Name</label>
        <input
          class="uk-input"
          type="text"
          id="last_name_input"
          maxlength="30"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="email_input">Email</label>
        <input
          class="uk-input"
          type="email"
          id="email_input"
          maxlength="255"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="phone_input">Phone Number</label>
        <input class="uk-input" type="tel" id="phone_input" maxlength="30" />
      </div>
      <div class="uk-margin">
        <label for="favorite_genre_selection">Favorite Genre</label>
        <select class="uk-select" id="favorite_genre_selection">
          <option value="" disabled selected>Choose a genre</option>
          {{#each genres as |genre|}}
            <option value="{{genre.id}}">{{genre.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="uk-margin">
        <label for="username_input">Username</label>
        <input
          class="uk-input"
          type="text"
          id="username_input"
          maxlength="30"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="password_input">Password</label>
        <input
          class="uk-input"
          type="password"
          id="password_input"
          maxlength="255"
          required
        />
      </div>
      <div class="uk-margin">
        <label for="renter_password_input">Re-enter Password</label>
        <input
          class="uk-input"
          type="password"
          id="renter_password_input"
          maxlength="255"
          required
        />
      </div>
      <div class="uk-margin">
        <button class="btn" type="submit">Sign Up</button>
      </div>
    </form>

    <div>
      <p class="uk-margin-remove">Already have an account?</p>
      <p class="uk-margin-remove"><a href="/login">Login instead.</a></p>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>