<h2>Single Book Page</h2>

<div>Book Title
    <div>
        Author
        Genre
        Paperback/Hardcover
        Condition
    </div>
    <div>
        Description
    </div>
</div>
<form>
    Make an Offer
    <textarea>Offer Text</textarea>
    <button>Submit</button>
</form>
<div>
    Current Offers
    <div>Offer text 
        Username
        <button>Accept Offer</button>
    </div>
</div>
