.wrapper {
    background-color: #F4F2ED;
}
.uk-navbar-container{
    background-color: #bc4a4a !important;
    margin-bottom: 0px;
}
.uk-logo, .uk-navbar-toggle, .uk-search-input::placeholder, .uk-search-input, .uk-navbar-nav a, footer{
    color: #F6EDDD !important;
}

.uk-active a{
    background-color: #F19C43;
    border-radius: 5px;
    height:40px !important;
    min-height: 0px !important;
    margin-top: 20px;
}

#getStarted{
    height: 350px;
}

#welcomeBox{
    display: flex;
    justify-content: center;
    background-color: #35686D;
    border-radius: 10px;
    opacity: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

/* BOOK LIST STYLES */
.book-list {
    color: #35686D;
}

.book-list h5 a,
.book-list h5 a:hover {
    color: #35686D;
    font-weight: bold;
}

.book-list a.btn {
    background-color: #bc4a4a;
    opacity: .85;
    color: #F6EDDD;
    padding: 12px 14px;
    border-radius: 5px;
}

.book-list a.btn:hover {
    text-decoration: none;
    opacity: 1;
}


/* FOOTER STYLES */
footer {
    background-color: #35686D;
    text-align: center;
}