
.uk-navbar-container{
    background-color: #bc4a4a !important;
    margin-bottom: 0px;
}
.uk-logo, .uk-navbar-toggle, .uk-search-input::placeholder, .uk-search-input, .uk-navbar-nav a{
    color: #F6EDDD !important;
}

.uk-active a{
    background-color: #F19C43;
    border-radius: 10px;
    height:40px !important;
    min-height: 0px !important;
    margin-top: 20px;
}

#getStarted{
    height: 300px;
}

#welcomeBox{
    display: flex;
    justify-content: center;
    background-color: #35686D;
    border-radius: 10px;
    opacity: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#signupcard{
    margin-top: 50px;
}
